
// $primary-color:              #c073ec !default;
// $default-body-bg:            #e9ca4e !default; for arrow on side menu
$main-panel-col:               #f4f3ef !default; //#f4f3ef !default;
// $white-color:  #949098 !default;
$danger-color:              #e686f3 !default;
// $default-color:              #ffffff !default;
@import "paper-dashboard";


// Pagination line
.pagination > li > a
{
    background-color: white;
    color: $default-color;
}

.pagination > li > a:active,
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: $white-color;
    background-color: $default-color;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color:$default-color !important;
    border: solid 1px $default-color !important;
}

.pagination > .active > a:hover
{
    background-color: $default-color !important;
    border: solid 1px $default-color;
}

.dropdown-item.active
{
    background-color: $default-color;
    color: $white-color;
}

// Table and sidebar

.table-responsive {
    overflow: hidden;
}

.sidebar .sidebar-wrapper {
    overflow: hidden;
}

// Remove border
.card-body .avatar {
    border: 0;
}

// Font awesome color
.fas, .far, .fa {
    color: $primary-color;
}

.btn:hover i{
    color: $white-color;
}

// Login/Register
.login-icon {
    font-size: 1.5rem;
}

.login-signup, .login-signin{
    color: $default-color;
}

// Modal

.modal-content {
    border-radius: 1em;
}

// React

.boards {
    overflow: hidden;
}
.board {
    border: 3px solid $white-color;
    border-radius: 1em;
    float: left;
    font-size: 24px;
}
.board.selected {
    border-color: $primary-color;
}